.select-html {
  padding: 4rem 20rem 4rem 20rem;
  margin: 0;
  height: 90vh;
  background: linear-gradient(125deg, #FDEE00 0, #902504 70%);
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: white;
  font-size: 4rem;
}

.glass-div {
  width: 100%;
  height: auto;
  /* padding: 2rem; */
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* select.html */

.select {
  width: 25%;
  padding: 1rem;
  margin-top: 0.5rem;
  align-self: end;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  font-weight: bold;
}

.tableFixHead {
  overflow-y: auto;
  max-height: 15rem;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 1rem;
  border: 2px solid white;
  cursor: pointer;
}

.table th {
  background: white;
}

.table thead tr {
  border-radius: 1rem;
}

/* making.html */

#making-html {
  padding: 4rem;
  margin: 0;
  height: 90vh;
  background: linear-gradient(125deg, #FDEE00 0, #902504 70%);
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list {
  width: 100%;
  padding: 2rem;
}

.list tr {
  padding: 1rem;
}

.list tr th {
  text-align: start;
}

.step {
  color: rgb(255, 255, 255);
}

.row {
  display: flex;
}

.column {
  width: 50%;
}