
.select-html {
  padding: 4rem 20rem 4rem 20rem;
  margin: 0;
  height: 90vh;
  background: linear-gradient(125deg, #FDEE00 0, #902504 70%);
  font-family: 'Inter';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.site-title {
  color: white;
  font-size: 4rem;
}

.glass-div {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  max-height: 95vh;
  
}

/* select.html */

.select {
  width: 25%;
  padding: 1rem;
  margin-top: 0.5rem;
  align-self: end;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  background: rgba(255, 255, 255, .7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'Inter';
  font-weight: bold;
}

.tableFixHead {
  overflow-y: auto;
  max-height: 15rem;
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th,
.table td {
  padding: 1rem;
  border: 2px solid white;
  cursor: pointer;
}

.table th {
  background: white;
}

.table thead tr {
  border-radius: 1rem;
}

/* making.html */

#making-html {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(125deg, #FDEE00 0, #902504 70%);
  font-family: 'Inter';
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.row {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#c-column {
  width: 45%;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

#r-column {
  width: 45%;
}

#title-m {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
}

#recipe-info {
  text-align: center;
  font-size: 1rem;
  color: white;
  padding-bottom: 1rem;
}

#recipe-info tr td{
  padding: 0 1rem 0 1rem;
  border-right: 2px white solid;
}

#recipe-info tr td:last-child{
  border: 0;
}

/* Controll Zentrum */

.control-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.btn {
    padding: 0.5rem;
    margin: 1rem 0.25rem 1rem 0.25rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter';
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
}

.btn i{
  padding: 0.5rem;
  mix-blend-mode:screen;
}

.btn h5{
  font-size: 1rem;
  margin: 0.5rem;
}

#but-start {
  background: rgb(131, 255, 106);
}

#but-stop {
  background: rgb(255, 106, 106);
}

#but-next, #but-undo {
  background: rgb(106, 200, 255);
}

#but-file {
  background: rgb(109, 106, 255);
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
.btn:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  transform: scale(1.2,1.2);
}
.btn:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* Betriebsstatus */

.centered  {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#model {
  padding-top: 1rem;
  width: 50%;
}

.list {
  width: 60%;
  padding: 1rem;
}

.list tr {
  padding: 1rem;
}

.list tr th {
  text-align: end;
  padding-right: 0.5rem;
}

.list tr td {
  text-align: start;
  padding-left: 0.5rem;
}


#engine-status {
  background-color: rgba(131, 255, 106, 0.7);
}

/* Rezeptanzeige */

#recipe-output {
  width: 100%;
  padding: 1rem;
  max-height: 95vh;
}

#recipe-output tr td {
  overflow-y: visible;
}

.step {
  color: rgb(255, 219, 119);
  font-size: 1rem;
  text-align: left;
}

.p-title {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: left;
}

.p-content {
  padding: 0.5rem 0 2rem 0;
}

#next_step {
  padding: 0.5rem 0 0 0;
}

