
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Inter';
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(116.61deg, #902504 0.81%, #FB8B01 36.09%, #FDD400 69.33%, #FDEE00 98.98%);
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    z-index: -10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workingArea {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.bg-shape-box {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.2) 100%);
  border-radius: 25px;
  z-index: 5;
}

.bg-shape-circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
    border-radius: 50%;
    z-index: 20;
  }

.box {
    background: rgb(255,255,255);
    background: linear-gradient(145deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.03551827407464747) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.spacePadding {
    padding: 1rem;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    background-color: white;
    border-radius: 25px 0 0 25px;
    height: 100%;
    z-index: 10;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    font-size: 1rem;
    color:rgb(255, 109, 24);
    padding: 0.5rem 2rem 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

nav ul li a:hover{
    color: white;
    background: linear-gradient(116.61deg, #902504 0.81%, #FB8B01 36.09%, #FDD400 69.33%, #FDEE00 98.98%);
}

nav ul li a i{
    font-size: 1rem;
    margin-right: 0.5rem;
}

main {
    width: 55%;
    padding: 1rem;
    background: rgba(255,255,255, 0.7);
    height: 100%;
    overflow-y: auto;
    z-index: 10;
}

aside {
    width: 30%;
    border-radius: 0 25px 25px 0;
    background: rgba(255,255,255, 0.5);
    height: 100%;
    z-index: 10;
}

.aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: white;
}

h2 {
    font-size: 2rem;
    color: white;
}

h3 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.inputBox {
    margin: 1rem;
} 

.input {
    background: rgba(255,255,255, 0.5);
    border-radius: 25px;
    color: rgb(116, 116, 116);
    font-family: Inter;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 80%;
}

.numberInput {
    border-radius: 25px 0 0 25px;
}

.rastInput {
    background: rgba(255,255,255, 0.5);
    border-radius: 25px;
    color: rgb(116, 116, 116);
    font-family: Inter;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 70%;
}

.inputSpace {
    margin: 0 0 1rem 0;
}

button {
    background: rgba(255,255,255, 0.5);
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: rgb(116, 116, 116);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-items-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.rastBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.smallerButton {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}
