/* Brewing Page */

.selectRecipe {
    overflow-y: auto;
    height: 106px;
  }
  .selectRecipe thead th {
    position: sticky;
    top: 0;
  }
  .selectRecipe table {
    border-collapse: collapse;
    width: 100%;
  }
  .selectRecipe table th,
  .selectRecipe table td {
    padding: 8px 16px;
    border: 1px solid #ccc;
  }
  .selectRecipe table th {
    background: #eee;
  }
/* Brewing Page end*/