{% extends "brewing/template.html" %}
{% block title %}Brauen{% endblock %}
{% load static %}
{% block maincontent %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script> 
<main class="main-l">
    <h1>Zubereitung</h1>
    <table id="recipeInfo">
        <tr>
            <td id="recipe_name" title="REZEPTNAME">{{recipe.name}}</td>
            <td id="sort" title="BIERSORTE">{{recipe.bier_sorte}}</td>
            <td id="date" title="DATUM">{{recipe.date}}</td>
            <td id="author" title="AUTOR">{{recipe.author}}</td>
            <td id="brewCount" title="BRAUUNGEN">{{recipe.number_of_brews}}</td>
        </tr>
    </table>
    <table id="tabelGuidance">
        <tr>
            <th class="labelGuidance">momentaner Schritt</th>
        </tr>
        <tr>
            <th class="phaseGuidance" id="currentPhase">Prozesstitel</th>
        </tr>
        <tr>
            <td id="currentContent">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
        </tr>
        <tr>
            <th class="labelGuidance" id="next_step_headline">nächster Schritt</th>
        </tr>
        <tr>
            <th class="phaseGuidance" id="nextPhase">Prozesstitel</th>
        </tr>
        <tr>
            <td id="nextContent">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </td>
        </tr>
    </table>
    <h2 id="important_notes" ></h2>
    <div id="chartContainer">
    <img id="downloadChart" onclick="downloadChart()" src="{% static 'img/download.png' %}" alt="downloadChart">
    <div class="chart-container context" style="margin: auto; position: relative; height:35vh; width:35vw; padding-top: 4%;">
        <canvas id="chart"></canvas>
    </div>
    </div>
    <a download="FILENAME.png" href="" id="download" style="display: none"></a>
</main>
{% endblock %}


{% block sidecontent %}
<aside class="aside-m">
    <div id="scene3d"></div>
    <table id="modelInfo">
        <tr>
            <th>Phase</th>
            <td id="phase">Maischen</td>
        </tr>
        <tr>
            <th>Temperatur</th>
            <td id="temp">78°C</td>
        </tr>
        <tr>
            <th>Rührwerk</th>
            <td id="engine">AN</td>
        </tr>
        <tr>
            <th>Rast</th>
            <td id="rast">...</td>
        </tr>
    </table>
    <div id="controlBar">
        <button class="controlButton" id="but-undo" onclick="prev()"><i class="fas fa-arrow-left"></i></button>
        <button class="controlButton" id="but-start" onclick="start()"><i class="fas fa-play"></i></button>
        <!-- <button class="controlButton" id="but-stop" onclick="stop()"><i class="fas fa-pause"></i></button> -->
        <button class="controlButton" id="but-reset" onclick="reset()"><i class="fas fa-stop"></i></button>
        <!-- <button class="controlButton" id="but-file" onclick="protocol()"><i class="fas fa-file"></i></button> -->
        <button class="controlButton" id="but-next" onclick="next()"><i class="fas fa-arrow-right"></i></button> 
        <button class="controlButton" id="but-down" onclick="protocol_download()" style="display: none;"><i class="fas fa-arrow-down"></i></button> 
    </div>
</aside>
<script src="{% static 'js/three.js' %}"></script>
<script>
    var scene3d = document.getElementById("scene3d");
    var CANVAS_WIDTH = 300;
    var CANVAS_HEIGHT = 300;

    const scene = new THREE.Scene();
    const camera = new THREE.PerspectiveCamera(75, CANVAS_WIDTH / CANVAS_HEIGHT, 0.1, 1000);

    const renderer = new THREE.WebGLRenderer({
        alpha: true
    });
    renderer.setSize(CANVAS_WIDTH, CANVAS_HEIGHT);
    scene3d.appendChild(renderer.domElement);

    const geometry = new THREE.BoxGeometry();
			const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
			const cube = new THREE.Mesh( geometry, material );
			scene.add( cube );

			camera.position.z = 5;

			function animate() {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
</script>
<!-- <script src="{% static '/js/brewing.js' %}" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{% static '/js/server_connection.js' %}" crossorigin="anonymous"></script>
<script src="{% static '/js/createPDF.js' %}" crossorigin="anonymous"></script>
{% endblock %}