{% extends "brewing/template.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block maincontent %}
<main class="main-xl">
  <h1>Rezeptauswahl</h1>
  {% if msg %}
      <div class="alert alert-success">
        {{ msg }}
      </div>
    {% endif %}
  <div id="recipeTableBox">
  <table id="selectRecipeTable">
    <thead>
      <tr>
        <th style="display: none;" onclick="sortTable('id')">Rezept-ID</th>
        <th onclick="sortTable('name')">Rezeptname</th>
        <th onclick="sortTable('bier_sorte')">Biersorte</th>
        <th onclick="sortTable('date')">Datum</th>
        <th onclick="sortTable('author')">Autor</th>
        <th onclick="sortTable('number_of_brews')">Brauungen</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
          <td style="display: none;" >{{recipe.id}}</td>
          <td>{{recipe.name}}</td> 
          <td>{{recipe.bier_sorte}}</td>
          <td>{{recipe.date}}</td>
          <td>{{recipe.author}}</td> 
          <td>{{recipe.number_of_brews}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div class="recipeButtonBox">
  <form action="{% url 'brewing' %}" id="submit_brewing_form" method="post">
    {% csrf_token %}
    <input type="number" style="display: none;" name="recipe_id" id="recipe_id" value="-1">
    <input type="text" style="display: none;" value="set_recipe_id" name="command">
    <button type="button" class="submitButton" id="submitRecipe" onclick="submit_button()">Brauen</button>
  </form>
  <div class="recipeEditButtonBox">
    <button class="submitButton" id="delRecipe"><i class="fa-solid fa-trash-can"></i></button>
    <button type="button" class="submitButton" id="editRecipe"><i class="fa-solid fa-pen-to-square"></i></button>
    <button type="button" class="submitButton" id="addRecipe" onclick="location.href='create'"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>
</main>

<script src="{% static '/js/home.js' %}" crossorigin="anonymous"></script>
{% endblock %}

