{% extends "brewing/template.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block maincontent %}
<main class="main-xl">
  <h1>Rezeptauswahl</h1>
  <div id="recipeTableBox">
  <table id="selectRecipeTable">
    <thead>
      <tr>
        <th onclick="SortTable(0, 'T')">Rezeptname</th>
        <th onclick="SortTable(1, 'T')">Biersorte</th>
        <th onclick="SortTable(2, 'D', 'dmy')">Datum</th>
        <th onclick="SortTable(3, 'T')">Autor</th>
        <th onclick="SortTable(4, 'N')">Brauungen</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
      <tr>
          <td>{{recipe.name}}</td> 
          <td>{{recipe.bier_sorte}}</td>
          <td>{{recipe.date}}</td>
          <td>{{recipe.author}}</td> 
          <td>{{recipe.number_of_brews}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <div class="recipeButtonBox">
  <button type="button" class="submitButton" id="submitRecipe">Brauen</button>
  <div class="recipeEditButtonBox">
    <form id="delete_form" action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <input type="text" style="display: none;" name="command" value="delete">
      <input type="text" style="display: none;" name="recipe_name" id="recipe_name" value="">
      <button class="submitButton" id="delRecipe"><i class="fa-solid fa-trash-can"></i></button>
    </form>
    <button type="button" class="submitButton" id="editRecipe"><i class="fa-solid fa-pen-to-square"></i></button>
    <button type="button" class="submitButton" id="addRecipe" onclick="location.href='create'"><i class="fa-solid fa-plus"></i></button>
  </div>
</div>
</main>

<script src="{% static '/js/home.js' %}" crossorigin="anonymous"></script>
{% endblock %}

