{% extends "brewing/template_clean.html" %}
{% load static %}
{% block title %}Getting Started{% endblock %}

{% block maincontent %}
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/9BnCP8OUpEI?controls=0&showinfo=0&&autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
    <h1 id="text"><span class="auto-type"></span></h1>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".auto-type", {
        strings: ["Hallo", "Willkommen zum Brau-Seminar", "Lass uns doch beginnen..."], 
        typeSpeed: 80,
        backSpeed: 30,
        loop: false
    });
</script>
{% endblock %}