<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/template/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="bg">
    <div class="bg-shape-circle"></div>
    <div class="bg-shape-box"></div>
    <div class="workingArea">
    <nav class="menu">
        <ul>
            <li><a href="home"><i class="fa-solid fa-house"></i><p>Home</p></a></li>
            <li><a href="brewing"><i class="fa-solid fa-gears"></i><p>Brauen</p></a></li>
            <li><a href="creating"><i class="fa-solid fa-pen-to-square"></i><p>Erstellen</p></a></li>
        </ul>
    </nav>
    <main>
    {% block maincontent %}

    {% endblock %}
    </main>
    <aside>
    {% block sidecontent %}

    {% endblock %}
    </aside>
    </div>
</body>
<script src="https://kit.fontawesome.com/84d4e1a0a8.js" crossorigin="anonymous"></script>
<script src="{% static '/template/creating.js' %}" crossorigin="anonymous"></script>
</html>