@import "brewing.css";

.main-l {
    width: 65%;
    overflow-x: hidden;
}

.aside-m {
    width: 35%;
    justify-content: center;
}

h1 {
    font-size: 3rem;
    color: white;
    margin: 1rem 0;
}

h2 {
    font-size: 2rem;
    color: white;
    margin: 0.5rem 0;
}

h3 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
}

.inputBox {
    /* margin: 1rem 0 0 0; */
    padding: 0 1rem 0 1rem;
} 

.input {
    background: var(--trans03);
    border-radius: 25px;
    color: var(--dark-grey);
    font-family: Inter;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 100%;
}

.input:focus {
    outline: 2px solid white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  margin-right: 0.7rem;
}

input[type=number] {
    -moz-appearance:textfield;
  }

input[type="date"]::-webkit-calendar-picker-indicator{
  margin-right: 0.7rem;
}

input[type="date"] {
    margin-right: 0.7rem;
}

.rastInput {
    background: var(--trans03);
    border-radius: 25px;
    color: var(--dark-grey);
    font-family: Inter;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 0 0.5rem 1rem;
    margin: 0.5rem 0 0.5rem 0;
    width: 70%;
}

.inputSpace {
    margin: 0 0 1rem 0;
}

.addDelButton {
    background: var(--trans05);
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    color: var(--dark-grey);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.25rem;
}

.submitButton {
    background: var(--trans05);
    border: none;
    border-radius: 25px;
    padding: 1rem;
    font-size: 1rem;
    color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
    font-weight: bold;
    cursor: pointer;
}

.buttonBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.align-items-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.rastBox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.smallerButton {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
}

#createRecipeButton {
    margin: 3rem 0 0 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-l {
        width: 100%;
        margin-bottom: 1rem;
        height: 50%;
    }
    
    .aside-m {
        width: 100%;
        margin-bottom: 1rem;
        justify-content: flex-start;
        height: 50%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-l {
        width: 100%;
    }
    
    .aside-m {
        width: 100%;
        justify-content: flex-start;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .main-l {
        width: 65%;
    }
    
    .aside-m {
        width: 35%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}