@import "template.css";

.main-xl {
    width: 100%;
    border-radius: 0 25px 25px 0;
    align-items: flex-start;
    justify-content: center;
}

#recipeTableBox {
    background-color:var(--trans05);
    padding: 0 0 1.5rem 0;
    border-radius: 25px;
    width: 100%;
    overflow-x: auto;
    align-self: flex-start;
}

#selectRecipeTable {
    width: 100%;
    border-spacing: 0px;
    overflow-x: auto;
}

#selectRecipeTable thead{
    background-color:rgb(255, 255, 255);
    border-radius: 25px;
}

#selectRecipeTable thead tr{
    border-radius:25px 25px 0 0;
}

#selectRecipeTable thead th{
    color:var(--brown);
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

#selectRecipeTable thead th:first-child{
    border-radius:25px 0 0 0;
}
  
#selectRecipeTable thead th:last-child{
    border-radius:0 25px 0 0;
}

#selectRecipeTable tbody{
    margin-bottom: 1rem;
}

#selectRecipeTable tbody tr td{
    padding: 1rem 0.5rem 1rem 0.5rem;
}

#selectRecipeTable tbody tr{
    cursor: pointer;
    color:rgb(109, 109, 109);
}

.selected {
    background-color: white;
    color: var(--orange) !important;
}

.recipeButtonBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.recipeEditButtonBox {
    display: flex;
    flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .main-xl {
        border-radius: 25px;
        margin-bottom: 1rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .main-xl {
        width: 100%;
        height: 105%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}