@import "login.css";

#indexBackgroundVideo {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

#indexBody {
  padding: 0;
  flex-direction: column !important;
}

video {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

#getStartedButton {
  display: none;
  color: white;
  background: var(--gradient);
}

#getStartedButton:hover {
  color: white;
  background: var(--gradientReverse);
}