:root {
  --brown: rgb(144, 37, 4);
  --orange: rgb(243, 131, 1);
  --yellow: rgb(253, 237, 0);
  --white: rgb(255, 255, 255);
  --dark-grey: rgb(80, 80, 80);
  --light-grey: rgb(170, 170, 170);
  --trans03: rgba(255, 255, 255, 0.3);
  --trans05: rgba(255, 255, 255, 0.5);
  --trans07: rgba(255, 255, 255, 0.7);
  --gradient: linear-gradient(135deg, #902504 0%, #FB8B01 36%, #FDD400 70%, #FDEE00 100%);
  --gradientReverse: linear-gradient(135deg, #FDEE00 0%, #FDD400 36%, #FB8B01 70%, #902504 100%);
  --gradientWhite: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 100%);
}

* {
  box-sizing: border-box;
  
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

html.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

html.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'Inter';
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

body {
  margin: 0;
  background: var(--gradient);
  background-repeat: no-repeat;
  backdrop-filter: blur(4px);
  z-index: -10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 1rem;
}


.bg-shape-box {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--trans03);
  border-radius: 25px;
}

.bg-shape-circle {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: var(--gradientWhite);
  border-radius: 50%;
}

.box {
  background: var(--gradientWhite);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

nav {
  width: 15%;
  background-color: white;
  border-radius: 25px 0 0 25px;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--orange);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
}

nav ul li a:hover {
  color: white;
  background: var(--gradient);
}

nav ul li a i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

#content {
  width: 85%;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

main {
  background: var(--trans07);
  height: 105%;
  overflow-y: auto;
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

aside {
  border-radius: 0 25px 25px 0;
  background: var(--trans05);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

button {
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    flex-direction: column-reverse !important;
    padding: 1rem !important;
    overflow-y: auto;
  }

  .bg-shape-circle {
    display: none;
  }

  .bg-shape-box {
    display: none;
  }

  nav {
    width: 100%;
    border-radius: 25px;
    height: 10%;
    padding: 0.5rem;
  }

  nav ul {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  nav ul li a {
    padding: 1rem;
  }

  nav ul li a p {
    display: none;
  }

  nav ul li a i {
    font-size: 2rem;
    margin-right: 0;
  }

  #content {
    width: 100%;
    height: 90%;
    flex-direction: column-reverse;
  }

  main {
    height: 100%;
    overflow-y: auto;
    padding: 1rem;
    border-radius: 25px;
    width: 100%;
  }

  aside {
    border-radius: 25px;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
  }

  button {
    cursor: pointer;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    flex-direction: row !important;
    padding: 2rem !important;
    overflow-y: auto;
  }

  .bg-shape-circle {
    display: none;
  }

  .bg-shape-box {
    display: none;
  }

  nav {
    width: 15%;
    height: 100%;
    padding: 0.5rem;
  }

  nav ul {
    flex-direction: column;
    justify-content: center;
  }

  nav ul li a {
    padding: 1rem;
  }

  nav ul li a p {
    display: none;
  }

  nav ul li a i {
    font-size: 2rem;
    margin-right: 0;
  }

  #content {
    width: 85%;
    height: 100%;
    flex-direction: column-reverse;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  body {
    flex-direction: row !important;
    padding: 3rem !important;
    overflow-y: auto;
  }

  .bg-shape-circle {
    display: block;
  }

  .bg-shape-box {
    display: block;
  }

  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    flex-direction: row;
    padding: 0 0.5rem 0 0.5rem;
  }

  nav ul li a i {
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  nav ul li a p {
    display: block;
  }

  #content {
    width: 85%;
    flex-direction: row;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #content {
    width: 75%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}